@import "tailwindcss";
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0px rgba(219, 183, 131, 0.774), 3px 3px 0px #fff9ed;
  }
  .dark .text-shadow {
    text-shadow: 2px 2px 0px rgba(100, 100, 100, 0.8), 3px 3px 0px #000;
  }
}
@custom-variant dark (&:where(.dark , .dark *));

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter";
}

.roundness {
  border-radius: 3em;
}

.cloud {
  clip-path: url(#path);
}
.pop-shadow {
  text-shadow: 2px 2px 0px rgba(252, 176, 62, 0.774), 5px 5px 0px #daa127;
}

svg.clippy {
  position: absolute;
  bottom: 100%;
}

.article h1 {
  @apply lg:text-5xl text-4xl font-medium;
}
.article h2 {
  @apply lg:text-4xl text-3xl font-medium;
}
.article h3 {
  @apply lg:text-3xl text-2xl font-medium;
}
.article h4 {
  @apply lg:text-2xl text-xl font-medium;
}
.article h5 {
  @apply lg:text-lg text-sm font-medium;
}
.article h6 {
  @apply lg:text-xs text-xs font-medium;
}

.article blockquote {
  @apply p-2 rounded-xl relative text-center;
  text-shadow: 2px 2px 0px rgba(219, 183, 131, 0.774), 3px 3px 0px #fff9ed;
}

.dark .article blockquote {
  @apply text-gray-200; /* or any dark text color */
  text-shadow: 2px 2px 0px rgba(100, 100, 100, 0.8), 3px 3px 0px #000000;
}

.article blockquote::before {
  content: '" ';
  font-size: 2rem;
}
.article blockquote::after {
  content: ' "';
  font-size: 2rem;
}
.article blockquote span {
  font-weight: 600;
}
.article ul,
.article ol {
  padding: 1rem;
}
.article ul li {
  list-style-type: disc;
}
.article ol li {
  list-style-type: decimal;
}

.article ul li::marker {
  @apply text-amber-500;
}
.article ol li::marker {
  font-weight: 500;
}
.article img {
  display: block;
  width: 100%;
  max-width: 400;
  max-height: 500;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 1%;
}
.article a {
  color: #c9b24d;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
